@import "tailwindcss";

*,
html,
body {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-track {
  background: hsl(0, 0%, 72%);
  border-radius: 100vh;
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 33%);
  border-radius: 100vh;
}

li,
ul {
  margin: 0;
  list-style: none;
}

a {
  font-weight: 500;
  color: #ff0000;
}
a:hover {
  color: #f25353;
}
